<div class="banner w3-container w3-dark-grey w3-center">
  <img src="assets/img/dangerzone_logo.png" alt="dangerzone_logo" class="dangerzone_logo_banner">
  <h1>DangerZone Downloads</h1>
  <div class="w3-bar">
	<a href="./index.html" class="w3-bar-item w3-button">Home</a>
	<a href="./mods.html" class="w3-bar-item w3-button">Mods</a>
	<a href="https://github.com/jtrent238/DangerZone-Archive" class="w3-bar-item w3-button">Github</a>
	<a href="./discord.html" class="w3-bar-item w3-button">Discord</a>
	<a href="./download.html" class="w3-bar-item w3-button">Get DangerZone</a>
  </div>
</div>