body {
	background-image: url("../img/background.png"); /* The image used */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

img.modThumbnail {
	float: left;
	padding: 4px;
	width: 120px;
}

@media screen and (max-width: 768px) {
	div.thumnailContainer {
		display: none;
	}
	
	div.detailsContainer {
		margin-left: 0px;
	}
}

@media screen and (min-width: 768px) {
	div.detailsContainer {
		margin-left: 130px;
	}
}

div.downloadButtonContainer {
	float: right;
}



.downloadButton {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

div.discordContainer-left {
	float: left;
}

div.discordContainer-right {
	float: right;
}

.hitCounter {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.searchContainer {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}