body {
	background-image: url("../img/background.png"); /* The image used */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

img.modThumbnail {
	float: left;
	padding: 4px;
	width: 120px;
}

div.downloadButtonContainer {
	float: right;
}

div.detailsContainer {
	margin-left: 130px;
}

.downloadButton {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

div.discordContainer {
	float: left;
}

.hitCounter {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.searchContainer {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}